<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class= "following">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t('buttons.following')%>
  </a>
  <a href="<%= followers_user_path(@user) %>" class = "followers">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t('buttons.followers')%>
  </a>
</div>
